@font-face {
    font-family: roboto;
    src: url(/home/tereza/repos/odin-project-page/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(/home/tereza/repos/odin-project-page/font/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: roboto;
    src: url(/home/tereza/repos/odin-project-page/font/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: roboto;
    src: url(/home/tereza/repos/odin-project-page/font/Roboto/Roboto-LightItalic.ttf);
    font-style: italic;
}

body{
    font-family: roboto;
    margin: 0%;
    display: flex;
    flex-flow: column;
}



.header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px;
    padding-left: 150px;
    padding-right: 150px;
}

.header-logo{
    font-size: 24   px;
    font-weight: bold;
    color: #F9FAF8;
}

.right-menu{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    background-color: #1F2937;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.hero-left{
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.hero-main{
    font-size: 48px;
    width: 60%;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0%;
}

.hero-p{
    font-size: 20px;
    width: 75%;
    color: #E5E7EB;
    margin: 0%;
}

.img-placeholder{
    width: 50%;
    height: 60%;
    background-color: #E5E7EB;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.hero-button{
    background-color: #3882F6;
    border-radius: 6px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    outline: none;
    box-shadow: none;
    border-width: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    align-self: flex-start;
}

.hero-button:hover{
    background-color: #E5E7EB;
    color: #3882F6;
}

.info-section{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.info-section-title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0%;
    color: #1F2937;
}

.img-section{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.img-section-item{
    font-size: 18px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px;
}

.img-section-placeholder{
    border: solid #3882F6;
    border-width: 5px;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.img-sub{
    text-align: center;
    color: gray;
}

.quote-section{
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 200px;
    padding-left: 300px;
}

.quote{
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    margin: 0px;
}

.quote-author{
    margin: 0px;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-section-center{
    background-color: #3882F6;
    border-radius: 10px;
    height: 100px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.signup-button{
    background-color: #3882F6;
    border-radius: 6px;
    padding: 5px;
    padding: 10px 30px; 
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 19px;
}

.signup-button:hover{
    background-color: #F9FAF8;
    color: #3882F6;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}

.contact-text{
    color: #E5E7EB;
}

.no-margin{
    margin: 0px;
}